<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbb_eTX4ZdBo6wPSglBrQVTT7F9ROnsxs</string>
	<key>GCM_SENDER_ID</key>
	<string>1042997532071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nearSchool</string>
	<key>PROJECT_ID</key>
	<string>n-near-school-n</string>
	<key>STORAGE_BUCKET</key>
	<string>n-near-school-n.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042997532071:ios:26994a311f400d09f55282</string>
</dict>
</plist>